################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AspNetCore.Middleware/.vs/AspNetCore.Middleware
/AspNetCore.Middleware/bin
/AspNetCore.Middleware/obj
/AspNetCore.Middleware.sln.DotSettings.user
